<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingpartner.codingpartnerbackend.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.codingpartner.codingpartnerbackend.model.entity.Question">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="difficulty" column="difficulty" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="language" column="language" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="judgeConfig" column="judge_config" jdbcType="VARCHAR"/>
            <result property="judgeCase" column="judge_case" jdbcType="VARCHAR"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="submissionCount" column="submission_count" jdbcType="INTEGER"/>
            <result property="acceptedCount" column="accepted_count" jdbcType="INTEGER"/>
            <result property="thumbCount" column="thumb_count" jdbcType="INTEGER"/>
            <result property="favourCount" column="favour_count" jdbcType="INTEGER"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,difficulty,
        tags,language,content,
        judge_config,judge_case,answer,
        submission_count,accepted_count,thumb_count,
        favour_count,comment_count,user_id,
        create_time,update_time,is_delete
    </sql>
</mapper>
